body {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: rgb(235, 235, 227);
}

.logo {
  color:rgb(31, 34, 199);
}

/* MOVIES */

.movies {
  padding: 100px 10px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

.movies > .movie {
  min-height: 350px;
  width: 350px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.movie > .poster {
  width: 90%;
  height: auto;
}

.movie > .title {
  font-size: 30px;
}

.cta {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}