body {
  position: relative;
}

.header {
  height: min-content;
  width: 100%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(235, 235, 227);
  position: absolute;
  z-index: 10;
}

.header > div {
  display: inline;
}

.header > div > *{
  margin-left: 15px;
  display: inline;
}

.logo {
  color:rgb(31, 34, 199);
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* MOVIES */

.movies {
  padding: 100px 10px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

.movies > .movie {
  height: 350px;
  width: 250px;
  background-color: rgb(238, 238, 238);
}
