.seat-selector {
    margin: 5px;
    padding: 5px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
}

.row {
    padding: 3px 6px;
    width: 100%;   
    display: flex; 
    flex-direction: row;
    gap: 3px;
}

.seat{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(144, 236, 144);
}

.seat.selected {
    background-color: rgb(51, 152, 185);
}

.seat.booked{
    background-color: rgb(211, 89, 89);
}

.column {
    width:200px;
    height:170x;
    margin-right:30px;
  }


  img {
    border: 10px solid #E3AFBC;
    border-radius: 8px;
    width: 300px;

  }

  .header {
    height: min-content;
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(31, 34, 199);
    position: absolute;
    z-index: 10;
}

.header > div {
    display: inline;
}

.header > div > * {
    margin-left: 15px;
    display: inline;
}

.logo {
    color: rgb(235, 235, 227);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movies {
    padding: 100px 10px;
    position: relative;
}

.sub-text-logo {
    font-size: 15px;
    color: white;
    font-style: italic;
    font-weight: 500;
}
