h1 {
    text-transform: uppercase;
    text-align: center;
    color: #950740;
}
p {
    color: white;
    text-align: center;
    text-indent: 50px;
    letter-spacing: 3px;
}
body {
    background-color: black;
}

img {
    display: inline;
    height: 250px;
    width: 250px;
}
#left {
    text-align: left;
}
#center {
    text-align: center;
}
#right {
    text-align: right;
}
